.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis {
  font: 10px sans-serif;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.x.axis path {
  display: none;
}

#test_text {
	font-size: 50px;
	color: red;
}