path.line_graph_path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
  }
.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.x.axis path {
  display: none;
}
.x.axis .minor {
	stroke-opacity: .5;
}

.x.axis line {
  stroke: lightgrey;
}

.y.axis line, .y.axis path {
	fill: none;
	stroke: #000;
}


      
