.label-text {
    alignment-baseline: middle;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;;
    fill: #393939;
}
.label-line {
    stroke-width: 1;
    stroke: #393939;
}
.label-circle {
    fill: #393939;
}

path.line_graph_path {
    stroke: steelblue;
    stroke-width: 4;
    fill: none;
  }
.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

/*.bar {
  fill: steelblue;
}*/

.bar:hover {
  fill: brown;
}

.x.axis path {
  display: none;
}

.x.axis .minor {
	stroke-opacity: .5;
}

.x.axis line {
  stroke: lightgrey;
}

.y.axis line, .y.axis path {
	fill: none;
	stroke: #000;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#driven_distance text {
  fill: white;
  font: 20px sans-serif;
  text-anchor: middle;

}
