p {
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

.drop_down_counties{
	padding-bottom: 20px;
}

.bubble{
	padding: 10px 7px 7px 15px;
	margin: 10px;
	background-color: #9f8d6d;
	color: #ffffff;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	position: relative;
}

.bubble:after {
    content: "";
    position: absolute;
    bottom: -38px;
    left: 164px;
    border-style: solid;
    border-width: 38px 22px 0;
    border-color: #9f8d6d transparent;
    display: block;
    width: 0;
    z-index: 1;
}

#travel1{
	position: relative;
}
   
#travel1:after {
  content: "\f072"; 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 300px;
  color: #4d422e;
  opacity: 0.3;
  top: 50%;
  left: 60%;
  margin: -300px 0 0 -200px;
  z-index: 1;
}

.inner{
	position: relative;
	z-index: 2;
}

p.text-square{
	padding: 20px 14px 20px 25px;
	margin: 15px;
    border: 1px  dashed;
    border-color: #4d422e;
}

h1.section-heading{
	font-size: 70px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;	
	color: #4d422e;
}

/*TRANSPORTATOPN SECTION*/
#nr_of_cars, #green_cars{
	font-size: 80px;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	padding-bottom: 0px;
}

#nr_of_cars, #nr_of_cars_sub{
	color: #403826;
}

#green_cars, #green_cars_sub{
	color: #007F60;
}

#nr_of_cars_sub, #green_cars_sub{
	font-size: 44px;
	text-align: center;
	padding-top: 0px;

}
#testt p {
	font-size: 30px;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    width: 100%;
    margin-left: 30px;
}

#testt {
	padding-top: 355px;


}